version: 2.1
jobs:
  build:
    docker: 
      - image: circleci/node:12.14.1 # the primary container, where your job's commands are run
    steps:
      - checkout # check out the code in the project directory
      - run:
          name: update-npm
          command: 'sudo npm install -g npm@latest'
      - restore_cache: # special step to restore the dependency cache
          # Read about caching dependencies: https://circleci.com/docs/2.0/caching/
          key: dependency-cache-{{ checksum "package-lock.json" }}
      - run:
          name: install-npm-wee
          command: npm install
      - save_cache: # special step to save the dependency cache
          key: dependency-cache-{{ checksum "package-lock.json" }}
          paths:
            - ./node_modules
      - run: # run tests
          name: test
          command: npm test
          
  deploy-test:
    machine:
        enabled: true
    environment:
      HEROKU_APP: "werewolf-server-test"
    steps:
      - checkout
      - run:
          name: Deploy Master to Heroku
          command: |
            git push https://heroku:$HEROKU_API_KEY@git.heroku.com/$HEROKU_APP.git master

  deploy-prod:
    machine:
        enabled: true
    environment:
      HEROKU_APP: "werewolf-server"
    steps:
      - checkout
      - run:
          name: Deploy Master to Heroku
          command: |
            git push https://heroku:$HEROKU_API_KEY@git.heroku.com/$HEROKU_APP.git master


workflows:
  version: 2
  build-and-deploy-test:
    jobs:
      - build
      - deploy-test:
          requires:
            - build
          filters:
            branches:
              only: master

  build-and-deploy-prod:
    jobs:
      - build
      - request-testing:
          type: approval
          requires:
            - build
      - deploy-prod:
          requires:
            - request-testing
